@model Finances.Mvc.Data.AccountItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AccountItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountCode" class="control-label"></label>
                <input asp-for="AccountCode" class="form-control" />
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankCode" class="control-label"></label>
                <input asp-for="BankCode" class="form-control" />
                <span asp-validation-for="BankCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputDate" class="control-label"></label>
                <input asp-for="InputDate" class="form-control" />
                <span asp-validation-for="InputDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MandateId" class="control-label"></label>
                <input asp-for="MandateId" class="form-control" />
                <span asp-validation-for="MandateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                <input asp-for="PartnerName" class="form-control" />
                <span asp-validation-for="PartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueDate" class="control-label"></label>
                <input asp-for="ValueDate" class="form-control" />
                <span asp-validation-for="ValueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionId" class="control-label"></label>
                <select asp-for="ConnectionId" class="form-control" asp-items="ViewBag.ConnectionId"></select>
                <span asp-validation-for="ConnectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

