@model IEnumerable<Finances.Mvc.Data.AccountItem>

@{
    ViewData["Title"] = "Konto";
}

<h1>Konto</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
</table>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
    <style>
        td {
            font-size: small;
        }
        .column-amount {
            text-align: right;
            font-weight: bold;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                ajax: {
                    url: "@Url.Action("Data")",
                    dataSrc: ""
                },
                order: [],
                columns: [
                    null,
                    null,
                    { width: "50px" },
                    null,
                    { className: "column-amount" }
                ]
            } );
        } );
    </script>
}

