
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<button id="btn-sync" class="btn btn-primary">Sync</button>

@section scripts {

<script>
    const btn = $('#btn-sync'); 
    btn.click(async e => {
        btn.attr('disabled', true);
        const response = await fetch("@Url.Action("Sync", "Transactions")", {
            method: "POST",
            credentials: "include"
        });
        let transaction = await response.json();
        while (transaction.status === 'tan_required') {
            const tan = prompt("Please enter TAN:");
            const response = await fetch("@Url.Action("Complete", "Transactions")", {
                method: 'POST',
                credentials: 'include',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    connectionId: transaction.connectionId,
                    tan: tan
                })
            })
            transaction = await response.json()
        }
        console.log(status);
        btn.attr('disabled', false);
    })
</script>
}